.button {
  @apply inline-flex bg-green-600 text-white cursor-pointer justify-center px-4 py-2 text-center
    whitespace-nowrap rounded transition duration-300
    hover:bg-green-400
    focus:outline-none;
}

.filter-button{
  @apply inline-flex gap-2 bg-white shadow-sm cursor-pointer items-center 
  px-4 py-2 rounded-lg transition duration-300
  hover:bg-green-600
  hover:text-white
}

.table-action-button{
  @apply flex cursor-pointer justify-center items-center 
  px-4 py-2 rounded-lg transition duration-300
  hover:bg-green-600
  hover:text-white
  hover:shadow-sm
}

.filter-button.active{
  @apply bg-green-600 text-white
}

/* .button {
  @apply inline-flex bg-white text-black border-gray-50 border cursor-pointer justify-center px-4 py-2 text-center
    whitespace-nowrap rounded
    hover:border-gray-500
    focus:outline-none;
} */

.button.addon-right {
  @apply rounded-r-none;
}

.button.addon-left {
  @apply rounded-l-none;
}

.fav-button{
  @apply text-yellow-500
}

.button.small,
.fav-button {
  @apply text-xs p-1;
}

.button.small.textual {
  @apply px-3;
}

.button.active {
  @apply border-gray-300 hover:border-gray-500;
}

.button.green {
  @apply bg-green-500 border-green-500 text-white hover:bg-green-600;
}

.button.red {
  @apply bg-red-500 border-red-500 text-white hover:bg-red-600;
}

.button.blue {
  @apply bg-blue-500 border-blue-500 text-white hover:bg-blue-600;
}

.button.yellow {
  @apply bg-yellow-500 border-yellow-500 text-white hover:bg-yellow-600;
}

.button.light {
  @apply bg-gray-500 border-gray-500 hover:bg-gray-600;
}

.buttons {
  @apply flex items-center flex-wrap justify-start;
}

.buttons.nowrap {
  @apply flex-nowrap;
}

.buttons.right {
  @apply justify-end;
}

.buttons .button {
  @apply mx-1;
}
