@layer components {
  .field:not(:last-child) {
    @apply mb-3;
  }

  .field.spaced:not(:last-child) {
    @apply mb-6;
  }

  .field-body .field .field {
    @apply mb-0;
  }

  .field.addons {
    @apply flex justify-start;
  }

  .field.addons .control.expanded {
    @apply flex-grow flex-shrink;
  }

  .field.addons .control:first-child:not(:only-child) .input,
  .field.addons .control:first-child:not(:only-child) .select select {
    @apply rounded-r-none border-r-0;
  }

  .field.addons .control:last-child:not(:only-child) .input,
  .field.addons .control:last-child:not(:only-child) .select select {
    @apply rounded-l-none border-l-0;
  }

  .field.grouped {
    @apply flex justify-start;
  }

  .field.grouped > .control:not(:last-child) {
    @apply mr-3;
  }

  .field.grouped.multiline {
    @apply flex-wrap;
  }

  .label {
    @apply block font-bold mb-2;
  }

  .control {
    @apply relative;
  }

  .control.icons-left, .control.icons-right {
    @apply relative;
  }

  .input, .fl-input, .textarea, .select select, .file-cta, .file-name {
    @apply px-3 py-2 border border-green-400 rounded;
  }

  .input, .fl-input, .select select, .file-cta, .file-name {
    @apply h-10;
  }

  .input, .fl-input, .textarea, .select select {
    @apply w-full max-w-full focus:ring focus:ring-green-500 focus:outline-none bg-white;
  }

  .input[readonly] {
    @apply pointer-events-none bg-green-500 text-white;
  }

  .input[disabeld] {
    @apply pointer-events-none bg-gray-500 text-white;
  }

  .textarea {
    @apply h-24;
  }

  .control.icons-left .icon, .control.icons-right .icon {
    @apply absolute top-0 z-10 w-10 h-10;
  }

  .control.icons-left .input,
  .control.icons-left .fl-input,
  .control.icons-left .select select {
    @apply pl-10;
  }

  .control.icons-left .icon.left {
    @apply left-0;
  }

  .control.icons-right .input, .control.icons-right .select select {
    @apply pr-10;
  }

  .control.icons-right .icon.right {
    @apply right-0;
  }

  .help {
    @apply block text-xs text-gray-500 mt-1;
  }

  .file {
    @apply flex items-stretch justify-start relative;
  }

  .upload {
    @apply inline-flex;
  }

  .upload input[type=file] {
    @apply absolute top-0 left-0 w-full h-full opacity-0 outline-none cursor-pointer -z-1;
  }
}

#new-group-form .step.active,
#new-campaign-form .step.active{
  animation: fadeIn 0.5s ease-in-out;
  order: 0;
  display: block;
}

#new-group-form .step,
#new-campaign-form .step{
  flex: 0 0 100%;
  order: 1;
  display: none;
}

/* flickr */
.flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected.inRange, .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange, .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay{
  @apply bg-green-500 border-green-500
}

/* Custom checboxes for contacts datatable */

.data-table-custom-checkbox{
  @apply w-8 h-8 border-4 text-sm p-1 inline-block bg-gray-100 rounded cursor-pointer;
}

.data-table-custom-checkbox.active{
  @apply p-2 bg-green-500 border-0 flex items-center justify-center;
}
